@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.redAsterisk {
  color: red;
}

.errorMessage {
  color: red;
}

.logoContainer {
  position: relative;
  width: 70vw;
  max-width: 400px;
  min-width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin: auto; 
  top: -120px;
}

.qrCodeContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.backgroundContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
}

.formContent {
  position: relative;
  top: -250px;
background: rgba(0, 0, 0, 0.34);
width: 100%;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(64, 64, 64, 0.51);
}

/* button  */
.btn {
  position: relative;
  display: block;
  margin: 15px;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #999999;
  background: #ffffff;
  border: 3px solid #999999;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-border-4::after,
.btn.btn-border-4::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: .5s;
}

.btn.btn-border-4::after {
  top: -9px;
  left: -9px;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn.btn-border-4::before {
  bottom: -9px;
  right: -9px;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}

.btn.btn-border-4:hover {
  color: #222222;
}

.btn.btn-border-4:hover::after,
.btn.btn-border-4:hover::before {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-color: #ffffff;
}

/* For mobile s */
@media only screen and (max-width: 320px) {
  body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  .backgroundContainer {
      height: 100vh; /* Full height */
      width: 100vw; /* Full width */
      background-size: 100% auto; /* Stretch the background image horizontally */
  }
  input {
      width: 80%; /* Half the width */
  }
  input[type="file"] {
      width: 85%; /* Width for file inputs */
  }
}

/* For mobile m */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  .backgroundContainer {
      height: 100vh; /* Full height */
      width: 100vw; /* Full width */
      background-size: 100% auto; /* Stretch the background image horizontally */
  }
  input {
      width: 80%; /* Half the width */
  }
  input[type="file"] {
      width: 85%; /* Width for file inputs */
  }
}

/* For mobile l */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  .backgroundContainer {
      height: 100vh; /* Full height */
      width: 100vw; /* Full width */
      background-size: 100% auto; /* Stretch the background image horizontally */
  }
  input {
      width: 80%; /* Half the width */
  }
  input[type="file"] {
      width: 85%; /* Width for file inputs */
  }
}
